<template>
  <div class="map">
    <div id="map"></div>
    <button id="submit-button" type="button" @click="send(selected)">Envoyer</button>
  </div>
</template>

<script>
import { encode, decode } from "jwt-simple";
import * as d3 from "d3";
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import "leaflet-draw";
import "leaflet-draw/dist/leaflet.draw.css";
import * as circleToPolygon from "circle-to-polygon"
delete L.Icon.Default.prototype._getIconUrl; 

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
});

export default {
  name: 'Map',
  emits: ['send-sorted'],
  data(){
	return{
        selected: [],
        jtwSecret: 'xxx',
        geoJSONLayers: [],
        previousLayer: null,
	}
  },
  props:{
	geoJSONs: {
		type: Array,
		default: () => []
    },
    shops: {
        type: Array,
        default: () => []
    }
  },
  methods:{
	onEachFeature(feature, layer) {
        let that = this;
		layer.on({
			click(){
                let encoded = encode(feature, that.jtwSecret);
                let index = that.selected.findIndex(geoJSON => geoJSON === encoded);
				if (index != -1) {
					that.selected.splice(index,1);
					layer.setStyle({color:"#8e8e8e"});
				} else {
					that.selected.push(encoded);
                    layer.setStyle({color:"#ff4500"});
                }
            }
		});
    },
    send(data){
        let that = this;
        let sorted = []
        let list = this.shops;
        data.forEach(encoded => {
            let geoJSON = decode(encoded, that.jtwSecret);
            let sortedTemp = [], listTemp = [];
            list.forEach(point => {
                (d3.geoContains(geoJSON, point.geometry.coordinates) ? sortedTemp : listTemp).push(point);
            });
            sorted = sorted.concat(sortedTemp);
            list = listTemp; //pour éviter de rechercher les points déjà trouvés...
        });
        this.$emit("send-sorted",sorted);
    }
  },

  mounted(){
	let map = new L.Map("map", {center:{lon: 0, lat: 0}, zoom:4})
        .addLayer(new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"));

    let shopLayer = L.layerGroup().addTo(map);
    this.shops.forEach(shop => {
        let marker = L.geoJSON(shop, {pointToLayer: (feature, latLng) => L.marker(latLng)}).addTo(shopLayer);
        marker.bindPopup(`<b>Magasin : </b>${shop.properties.name}`);
    });

    let that = this;
    let layerController = {};
    this.geoJSONs.forEach(geoJSON => {
        let geoJSONLayer = L.geoJSON(geoJSON.data, {
            minzoom: geoJSON.minzoom,
            maxzoom: geoJSON.maxzoom,
            onEachFeature: this.onEachFeature,
            style: {color:"#8e8e8e"}
        });
        that.geoJSONLayers.push(geoJSONLayer);
        layerController[geoJSON.name] = geoJSONLayer;
    });
    L.control.layers(layerController, {"Magasins": shopLayer}).addTo(map);

    let overlay = this.geoJSONLayers[0].addTo(map);
    this.previousLayer = overlay;
    map.fitBounds(overlay.getBounds());
    map.setMaxBounds(overlay.getBounds());
    map.options.minZoom = overlay.options.minzoom;

    map.on('zoomend', e =>{
        let layer = that.geoJSONLayers.find(geoJSON => {
            return(geoJSON.options.maxzoom >= e.target._zoom && e.target._zoom >= geoJSON.options.minzoom )
        })
        if(layer && layer != that.previousLayer){
            that.previousLayer.removeFrom(map)
            layer.addTo(map);
        }
    });

    map.on('baselayerchange', (e) => {
        that.selected = [];
        that.previousLayer = e.layer;
        e.layer.eachLayer(layer => {
            layer.setStyle({color:"#8e8e8e"});
        });
    });

    L.Control.Button = L.Control.extend({
        onAdd: function() {
            var btn = L.DomUtil.get('submit-button');
            return btn;
        }
    });

    L.control.button = function(opts) {
        return new L.Control.Button(opts);
    }

    L.control.button({ position: 'bottomleft' }).addTo(map);

    L.drawLocal.draw.toolbar = {
        actions: {
            title: 'Annuler',
            text: 'Annuler'
        },
        finish: {
            title: 'Terminer',
            text: 'Terminer'
        },
        undo: {
            title: 'Supprimer le dernier point',
            text: 'Supprimer le dernier point'
        },
        buttons: {
            polygon: 'Sélection libre',
            rectangle: 'Sélection en rectangle',
            circle: 'Sélection en cercle',
        }
    };
    L.drawLocal.draw.handlers.circle = {
        tooltip: {
            start: 'Cliquer et glisser pour dessiner un cercle.'
        },
        radius: 'Rayon'
    };
    L.drawLocal.draw.handlers.polygon = {
        tooltip: {
            start: 'Cliquer pour commencer à dessiner.',
            cont: 'Cliquer pour continuer à dessiner.',
            end: 'Cliquer sur le premier point pour valider.'
        }
    };
    L.drawLocal.draw.handlers.rectangle = {
        tooltip: {
            start: 'Cliquer et glisser pour dessiner un rectangle.'
        }
    };
    L.drawLocal.draw.handlers.simpleshape = {
        tooltip: {
            end: 'Relacher la souris pour terminer.'
        }
    };

    let selectorControl = new L.Control.Draw({draw: {polyline: false, marker: false, circlemarker: false,polygon: {allowIntersection: false, drawError: {message: 'Vous ne pouvez pas croiser les lignes.'}}}});
    map.addControl(selectorControl);

    map.on(L.Draw.Event.CREATED, e  => {
        let geoJSONForm
        if(e.layerType == "circle"){
            geoJSONForm = circleToPolygon([e.layer._latlng.lng, e.layer._latlng.lat], e.layer._mRadius);
            geoJSONForm.coordinates[0].reverse();
        } else {
            geoJSONForm = e.layer.toGeoJSON();
        }
        if(e.layerType == "polygon"){ // les points doivent être dans le sens des aiguilles d'une montre pour fonctionner avec d3
            let X = [];
            let Y = [];
            e.layer.getLatLngs()[0].forEach(latLng => {
                X.push(latLng.lat);
                Y.push(latLng.lng);
            });
            let numPoints = e.layer.getLatLngs()[0].length;
            let area = 0;
            let j = numPoints-1;

            for (let i=0; i<numPoints; i++)
                { area = area +  (X[j]+X[i]) * (Y[j]-Y[i]); 
                j = i;  
                }
            if((area/2)>0){ // aire négative = sens des aiguilles d'une montre
                geoJSONForm.geometry.coordinates[0].reverse();
            }
        }
        let encoded = encode(geoJSONForm, that.jtwSecret);
        that.send([encoded]);
    });
  },
}
</script>

<style scoped>
#map{
    width:50vw;
    height: 50vh;
}

#submit-button{
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    cursor:pointer;
}
</style>
