<template>
    <Map :geoJSONs="geoJSONList" :shops="shopList" @send-sorted="show"/>

    <h3>Retour :</h3>
    <textarea v-model="returnedList" rows="6" cols="33" readonly> </textarea>
</template>

<script>
import Map from '@/components/Map'

export default {
  name: 'App',
  components: {
    Map
  },
  data(){
      return{
            geoJSONList: [],
            shopList: [],
            returnedList: "",
      }
  },
  beforeMount(){
      //On pourrait très bien le récuperer toutes ses données depuis une API
      let region = require("@/assets/geoJson/regions-version-simplifiee.json");
      let departement = require("@/assets/geoJson/departements-version-simplifiee.json");
      let arrondissement = require("@/assets/geoJson/arrondissements-version-simplifiee.json");
      let canton = require("@/assets/geoJson/cantons-version-simplifiee.json");

      this.geoJSONList.push({name:'Régions', data:region, minzoom:5, maxzoom:6});
      this.geoJSONList.push({name:'Départements', data:departement, minzoom:7, maxzoom:8});
      this.geoJSONList.push({name:'Arrondissements', data:arrondissement, minzoom:9, maxzoom:10});
      this.geoJSONList.push({name:'Cantons', data:canton, minzoom:11, maxzoom:999});

      this.geoJSONList.sort((a,b) => {
          return a.minzoom - b.minzoom;
      });

      this.shopList = require("@/assets/geoJson/shops.json").features;
  },
  methods:{
      show(data){
          let that = this;
          this.returnedList = "";
          data.forEach(geoJSON => {
              that.returnedList += `${JSON.stringify(geoJSON.properties)}\n`
          });
      }
  }
}
</script>

<style>
</style>
